@model Aflamy.ViewModels.AddMovieViewModel


@{
    ViewData["Title"] = "Create";
}
@section bootstrapselectcss{
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css">

}
    @section ScriptsForbootstrapSelect{
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-en_US.min.js"></script>

}
    @section Scriptspopper{
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


}

    <h1>Create</h1>

    <h4>Movie</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.AddedMovie.MovieName" class="control-label"></label>
                    <input asp-for="@Model.AddedMovie.MovieName" class="form-control" />
                    <span asp-validation-for="@Model.AddedMovie.MovieName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AddedMovie.Description" class="control-label"></label>
                    <input asp-for="@Model.AddedMovie.Description" class="form-control" />
                    <span asp-validation-for="@Model.AddedMovie.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Posterimage" class="control-label"></label>
                    <input type="file" accept="image/*" asp-for="@Model.Posterimage" class="form-control" />
                    <span asp-validation-for="@Model.Posterimage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SelectedCategoriesIds" class="control-label"></label>
                    <br />
                    @Html.ListBoxFor(m=>m.SelectedCategoriesIds,new MultiSelectList(Model.AllCategories,"CategoryId","CategoryName")
                ,new {
                @class = "form-control selectpicker",
                @data_live_search="true"})
                </div>
                <span asp-validation-for="@Model.SelectedCategoriesIds" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-danger" asp-action="List">Back to List</a>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
