@model Aflamy.ViewModels.AddMovieViewModel

@{
    ViewData["Title"] = "Edit";
}


    <h1>Edit</h1>

    <h4>Movie</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.AddedMovie.MovieID" />
                <div class="form-group">
                    <label asp-for="@Model.AddedMovie.MovieName" class="control-label"></label>
                    <input asp-for="@Model.AddedMovie.MovieName" class="form-control" />
                    <span asp-validation-for="@Model.AddedMovie.MovieName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AddedMovie.Description" class="control-label"></label>
                    <input asp-for="@Model.AddedMovie.Description" class="form-control" />
                    <span asp-validation-for="@Model.AddedMovie.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.AddedMovie.Poster" class="control-label"></label>
                    <input asp-for="@Model.AddedMovie.Poster" class="form-control" />
                    <span asp-validation-for="@Model.AddedMovie.Poster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SelectedCategoriesIds" class="control-label"></label>
                    <br />
                    @Html.ListBoxFor(m=>m.SelectedCategoriesIds,new MultiSelectList(Model.AllCategories,"CategoryId","CategoryName"),new {@class = "form-control"})
                    <span asp-validation-for="@Model.SelectedCategoriesIds" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="List" class="btn btn-primary">Back to List</a>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
