@model IEnumerable<Aflamy.Models.Movie>

@{
    ViewData["Title"] = "All Movies";
}

<h1>All Movies</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table" id="MoviesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieCategries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poster)
                </td>
                <td>
                    <ul>
                        @foreach (var category in item.MovieCategries)
                        {
                            <li>@category.CategoryName</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MovieID" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MovieID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MovieID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
