@model IEnumerable<Aflamy.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="PageContainer">
    @foreach (Movie movie in Model)
    {
        <div class="Moviecontainer">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.MovieID">
                <img src="~/Images/@movie.Poster" class="MovieImg img-thumbnail" />
            </a>
            <a class="MovieTitle" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.MovieID">
                @movie.MovieName
            </a>
            <ul class="CategoryUL">
                <li>
                    @{
                        int i = 0;
                        @foreach (Category category in movie.MovieCategries)
                        {
                            @category.CategoryName
                            i++;
                            if (movie.MovieCategries.Count > 1)
                            {
                                if (i == movie.MovieCategries.Count) continue;
                                <span>
                                    |
                                </span>
                            }
                        }
                    }
                </li>
            </ul>
            @if (movie.IsFavorite.Value)
            {
                <a asp-action="ToogleToFavorites" asp-controller="Home" asp-route-id="@movie.MovieID">
                    <img src="~/Icons/star-7207.svg" width="20px" height="20px">
                </a>
            }
            else
            {

                <a asp-action="ToogleToFavorites" asp-controller="Home" asp-route-id="@movie.MovieID">
                    <img src="~/Icons/favourite-2765.svg" width="20px" height="20px">
                </a>
            }
            <p>@movie.RateAvg / 10</p>


        </div>
    }
</div>
